@{
    ViewData["Title"] = "Your notes";
    var notes = (IEnumerable<NoteViewModel>)ViewBag.Notes;
    var userName = ViewData["user_name"];
    Layout = "_LoggedLayout";
}

<div class="container-fluid">
    <div class="NoteContainer">
        
    </div>
</div>