@using CheckBox.Web.Models
@model UserViewModel

@{
    ViewData["Title"] = "Welcome";
}

<div class="container-index">
    <div style="border-radius:100px;background-image:linear-gradient(#ffe671,#ffa543)" 
         class="login-card">
            <div class="Brand" style="display:flex; margin-top:15px; justify-content:end; margin-right:85px; margin-bottom:-30px;">
            <img src="~/imgs/CheckLogo.png" width="10%" />
            <h2>Check</h2><h2 class="text-light">Box</h2>
        </div>
        <div class="itens">
            <form method="post" asp-controller="Auth" asp-action="Login">
                <h5 class="text-white">Login</h5>
                @Html.TextBoxFor(x => x.Email, new{placeholder ="Insira seu email", @class="form-control mt-2"})
                <span asp-validation-for="Email" class="text-danger"></span>
                @Html.PasswordFor(x => x.Password, new{placeholder = "Insira sua senha", @class="form-control mt-2"})
                <span asp-validation-for="Password" class="text-danger"></span>
                <button type="submit" class="btn btn-warning text-dark mt-3">Entrar</button>
                <div class="row mt-2 text-white">
                    <div class="col-md-12">
                        <p>Ainda não tem conta? <a asp-action="Register" asp-controller="Auth" class="text-white" type="button" data-toggle="modal" data-target="#register"> Clica aqui</a></p>
                    </div>
                </div>
            </form>
                <partial name="_register" model="@new UserViewModel()" />
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}