@{
    ViewData["Title"] = "Your notes";
    var notes = (IEnumerable<NoteViewModel>)ViewBag.Notes;
    var user = (UserViewModel)ViewData["user"];
    Layout = "_LoggedLayout";
    
}
<div style="border-bottom-right-radius:25px;" class="pl-3 bg-transparent container-fluid">
    <header class="justify-content-xl-start text-white mt-1" style="display:flex">
        <h2 class="text-light">Olá,</h2><h2 class="text-warning ml-2"> @user.Name</h2>
    </header>
    <main class="bg-dark rounded">
        <div class="row d-flex justify-content-between m-4">
                <h2 class="mt-2 text-white-50">Suas notes</h2>
            <a class="btn btn-outline-warning m-3" asp-action="Create" asp-route-id="@user.Id">Create</a>
        </div>
        @{

            if (notes.Any())
            {
                foreach (var note in notes)
                {

                    var parametros = new Tuple<NoteViewModel, Guid>(note, note.User.Id);
                    <partial name="_note" model=@parametros></partial>
                }
            }
            else
            {
                <div class="row text-center text-light mt-2">
                    <div class="col-md-12 mt-3 mb-5">
                            <img style="height:20vh;" src="~/imgs/nerd.gif" alt="empty">
                            <h5>Sem anotações por aqui...</h5>
                    </div>
                </div>
            }
            
        }
    </main>
</div>