@model UserViewModel

@{
    ViewData["Title"] = "Your notes";
    Layout = "_LoggedLayout";

}
<div style="border-bottom-right-radius:25px;" class="pl-3 bg-transparent container-fluid">
    <div class="row d-flex justify-content-center bg-white text-dark mt-3">
        <img src="imgs/detetive.gif" />
        <h1>Seu perfil</h1>
    </div>
</div>